{% extends "@app/views/layouts/main.twig" %}

{% set pageTitle = data.title %}
{% set pageKeywords = data.keywords %}
{% set pageDescription = data.description %}

{% block content %}
    <div class="archive-view">
        <h1 class="title">{{ data.title }}</h1>
        <div class="description">
            {{ data.description }}
        </div>
        <div class="content">
            {{ data.content | raw }}
        </div>
    </div>
{% endblock %}
