<div id="page-ft">
    <footer>
        <div id="footer">
            <p>
                <span>地址：{{ lookups.address }}</span>
                <span>电话：{{ lookups.tel }}</span>
            </p>
            <p>
                <span>Copyright &copy; {{ now | date('Y') }} 版权所有</span>
                <span>ICP：{{ lookups.icp }}</span>
            </p>
        </div>
    </footer>
</div>