<div id="page-hd">
    <div id="header"></div>
    <div id="main-menu">
        {% set controllerId = app.controller.id %}
        {% set actionId = app.controller.action.id %}
        {% set nodeValue = app.request.get('node') %}
        {% set pageAlias = app.request.get('alias') %}
        {% set mainMenus = [
                {
                    'url': app.homeUrl,
                    'label': '首页',
                    'active': controllerId == 'site' and actionId == 'index',
                },
                {
                    'url': url('page/index', {'alias': 'about'}),
                    'label': '公司介绍',
                    'active': controllerId == 'page' and actionId == 'index' and pageAlias == 'about',
                },
                {
                    'url': url('news/index', {'node': 5}),
                    'label': '公司注册',
                    'active': controllerId == 'news' and nodeValue == 5,
                },
                {
                    'url': url('news/index', {'node': 6}),
                    'label': '工商代办',
                    'active': controllerId == 'news' and nodeValue == 6,
                },
                {
                    'url': url('news/index', {'node': 8}),
                    'label': '企业年检',
                    'active': controllerId == 'news' and nodeValue == 8,
                },
                {
                    'url': url('news/index', {'node': 3, 'children': 'y'}),
                    'label': '会计服务',
                    'active': controllerId == 'news' and nodeValue == 3,
                },
                {
                    'url': url('news/index', {'node': 13}),
                    'label': '记账报税',
                    'active': controllerId == 'news' and nodeValue == 13,
                },
                {
                    'url': url('news/index', {'node': 19}),
                    'label': '社保代理',
                    'active': controllerId == 'news' and nodeValue == 19,
                },
                {
                    'url': url('news/index', {'node': 24}),
                    'label': '公积金代缴',
                    'active': controllerId == 'news' and nodeValue == 24,
                },
                {
                    'url': url('news/index', {'node': 11}),
                    'label': '许可资质',
                    'active': controllerId == 'news' and nodeValue == 11,
                },
                {
                    'url': url('news/index', {'node': 26}),
                    'label': '商标注册',
                    'active': controllerId == 'news' and nodeValue == 26,
                },
                {
                    'url': url('news/index', {'node': 27}),
                    'label': 'POS 机代理',
                    'active': controllerId == 'news' and nodeValue == 27,
                },
                {
                    'url': url('page/index', {'alias': 'contact-us'}),
                    'label': '联系我们',
                    'active': controllerId == 'page' and actionId == 'index' and pageAlias == 'contact-us',
                },
            ] %}
        <ul>
            {% for item in mainMenus %}
                <li{{ item.active ? ' class="active"' : '' }}><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>