{% extends "@app/views/layouts/main.twig" %}

{% set node = app.request.get('node') | abs %}
{% set currentNodeName = nodeGetter.name(node) %}

{% set pageTitle = data.title %}
{% set pageKeywords = data.keywords %}
{% set pageDescription = data.description %}



{% block content %}

    <div class="news-view">
        <div class="title">{{ data.title }}</div>
        <div class="misc">
            <span>发布时间：{{ data.published_at | date('m-s') }}</span>
            <span>浏览次数：{{ data.clicks_count }}</span>
        </div>
        <div class="content">{{ data.content | raw }}</div>
    </div>

{% endblock %}