{% extends "@app/views/layouts/main.twig" %}

{% set pageTitle = data.title %}
{% set pageKeywords = data.keywords %}
{% set pageDescription = data.description %}
{% set currentNodeName = data.title %}

{% block content %}

    <div class="article-view">
        <div class="content">
            {{ data.content | raw }}
        </div>
    </div>

{% endblock %}