{% extends "@app/views/layouts/main.twig" %}

{% set pageTitle = '首页' %}
{% set pageKeywords = '' %}
{% set pageDescription = '' %}

{% block content %}

    <div class="article-view">
        <div class="content">
            {{ data.content | raw }}
        </div>
    </div>

{% endblock %}